.card {
    background-color: #1a2035;
    margin-left: 25px;
    margin-top: 10px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100vh; 
}
header {
    /* background-color: #1a2035; */
    /* align-self:flex-start ; */
    position: relative;
    font-size: 30px;
}
