.card {
    background-color: #1a2035;
    margin-left: 25px;
    margin-top: 10px;
    color: white;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
header {
    align-content: stretch;

    font-size: 30px;
    /* flex-wrap: wrap; */
    margin-left: 45px;margin-top: 15px;
    color: #1a2035;
}

.card {
    margin-top: 30px;
}

.cardlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    /* align-content: flex-start; */
    /* position: absolute; */
    width: 100%;
    margin-right: 40px;
}


