<header>DASHBOARD</header>

  <div class="container border">
                


        <div class="card" *ngFor="let data of dadosTempoReal" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">  {{ data.nome }} </h5>
            <p class="card-text"> {{ data.descricao }} </p>
            <a href="#" class="card-link">Link de inscrição</a>
            <a href="#" class="card-link">Outro link</a>
          </div>
        </div>
     
    
  </div>  




 


