body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 260px;
  min-width: 260px;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1a2035;
  overflow: auto;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  margin-top: 30px;
}

.sidebar a:hover {
  color: #ffffff;
  background-color: blueviolet;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar a{
  /* color: rgba(238, 238, 238, 0.034); */
}

a {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  /*font-family: 'Times New Roman', Times, serif;
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dashContent{
  display: flex;
  flex-direction:row;
  height: 100vh;
}

i {
  width: 22px;
  margin-right: 3px;
}

.template {
  padding: 30px;
  height: 100vh;
  overflow: scroll;
  width: 100%;
}


