/*  can add global styles to this file, and also import other style files */
body {
    background-color: #eee;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

header {
    font-size: 25px;
    color: #1a2035;
}

.controles {
    margin-top: 20px;
}

span {
    font-size: 17px;
}

.btnSalvar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
